.section-title{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color:#4a4a4a;
}
.post{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img-thumb{
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.content{
    flex: 1;
}

.content p.title{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 16px;
    padding-left: 10px;
}

.content p.desc{
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
    padding-left: 10px;
}

.btnRemove {
    background: red;
    border-radius: 4px;
    padding: 10px 18px;
    outline: none;
    color: white;
    margin-top: 5px;
}

.btnUpdate {
    background: blue;
    border-radius: 4px;
    padding: 10px 18px;
    outline: none;
    color: white;
    margin-top: 5px;
    margin-right: 10px;
}

.btnRemove:hover, .btnUpdate:hover{
    cursor: pointer;
}

.form-add-post {
    box-shadow: 0px 0px 16px black;
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.form-add-post label {
    display: block;
    font-size: 14px;
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: grey;
}

button.btn-submit {
    outline: none;
    border: 1px solid blue;
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    background: rgb(33, 33, 206);
    color: white;
}

button.btn-submit:hover{
    cursor: pointer;
    color: white;
    background: blue;
}

.content p.title:hover {
    cursor: pointer;
}

